@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-primary text-slate-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
